<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Create an account</title>

<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/css/common.css" rel="stylesheet" type="text/css">

</head>

<body>

	<div class="container">
		 <form id="logoutForm" method="POST" th:action="@{/logout}">
        </form>
		Welcome <span sec:authentication="principal.username">User</span> <br />
		Logged user: <span sec:authentication="name">Bob</span> <br />
		Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> <br />
		
		<div sec:authorize="isAuthenticated()">
		  This content is only shown to authenticated users.
		</div>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
		  This content is only shown to administrators.
		</div>
		<div sec:authorize="hasRole('ROLE_USER')">
		  This content is only shown to users.
		</div>
		<div sec:authorize="hasAnyRole('ROLE_SLA', 'ROLE_ADMIN')">
		  This content is shown to sla users and admin.
		</div>
		
		<h2 >Welcome | <a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>
	</div>
	
	<div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
	
		<h1>ROLE_ADMIN</h1>
	
	</div>
	
	<ul class="nav navbar-nav">
     <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
    </ul>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="/js/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>